/* <!-- *Preloader* -->
Ini adalah css dari bagian/section PRELOADER UTAMA
<!-- *__________________________Mulai Dari Bagian Preloader__________________________* -->
*/

/* 
*____ Bagian preloader melthy ____*
*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f1ff;
  display: grid;
  place-content: center;
  z-index: 6;
  transition: 250ms ease;
}

.preloader.remove {
  visibility: hidden;
  opacity: 0;
}

.preloader .img {
  animation: bounce 800ms ease-in-out infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.preloader-inner {
  position: relative;
}

.preloader-inner::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 10px;
  background-color: hsla(0, 0%, 0%, 0.039);
  filter: blur(4px);
  z-index: -1;
  animation: dropShadow 800ms ease-in-out infinite alternate;
}

@keyframes dropShadow {
  0% {
    width: 10%;
  }

  100% {
    width: 80%;
  }
}
